<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<div align="center">
		<h1> 상세보기 </h1><a href="/guest/list.do"> 목록으로 돌아가기 </a><br><br>
		<br>
		<table border=1 width="500" height="200">
			<tr><td>SEQ</td><td><input type="text" name="seq" th:value="${m.seq}"></td></tr>
			<tr><td>제목</td><td><input type="text" name="title" th:value="${m.title}"></td></tr>
			<tr><td>작성자</td><td><input type="text" name="writer" th:value="${m.writer}"></td></tr>
			<tr><td>내용</td><td><textarea cols="50" rows="8" name="content" th:text="${m.content}"></textarea></td></tr>
			<tr><td>작성날짜</td><td><input type="text" name="CreateDate" th:value="${m.CreateDate}"></td></tr>
			<tr><td>조회수</td><td><input type="text" name="cnt" th:value="${m.cnt}"></td></tr>
		</table>
		<a href="/guest/writer.do"> 글쓰기 </a>&emsp;&emsp;
		<a href="/guest/delete.do"> 삭제하기 </a>
	</div>
</body>

</html>